@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0px;
}

.MuiPaper-root {
  border-radius: 0;
}

.css-mhc70k-MuiGrid-root {
  margin-left: 0;
  width: 100%;
}

.css-1ps6pg7-MuiPaper-root {
  box-shadow: none;
}

.css-123l0ck {
  padding-left: 0px;
}
.css-1oqqzyl-MuiContainer-root {
  min-width: 100%;
  padding-right: 0px;
}